body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

.bacgr{
    height: 400px;
    width: 900px;
    background: cadetblue;

    display: flex;
    justify-content: center;


}

.cube{
    height: 150px;
    width: 150px;
    background: beige;

    margin: 0 20px 0 20px;
    border-radius: 10px;
    position: relative;
    margin-top: 325px;
}